
@{
    ViewBag.Title = "GetWithingsClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetWithingsClient</h2>
<div>
   
  
    <p>Date: @ViewBag.ResponseData.Date</p>
    <p>Calories: @ViewBag.ResponseData.Calories</p>
    <p>Steps: @ViewBag.ResponseData.Steps</p>
    <p>TimeZone: @ViewBag.ResponseData.TimeZone</p>
    <p>Total Calories: @ViewBag.ResponseData.TotalCalories</p>

    </div>